.create-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.create-container {
  display: flex;
  align-items: center;
  width: 80%;
  height: 700px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50%;
  position: relative; 
}

.create-form h2 {
  margin: 0 0 20px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  max-width: 300px;
  font-size: 16px;

}

.form-group input[type="text"] {
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 295px;
  margin-right: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  text-align: left;
}

button[type="submit"] {
  background-color: black;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.slider-wrapper {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 700px;
  background-color: #ccc;
  border-left: 2px solid #fff;
}

.slider {
  position: relative;
  height: 700px;
  width: 600px;
  animation: slide 6s infinite;
}

.slider-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider-buttons {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-button {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.slider-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}



.slider-dot {
  width: 10px;
  margin-right: 5px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.slider-dot.active {
  background-color: white;
}

.slider-dot:hover {
  background-color: rgba(255, 255, 255, 0.7);
}



























